<?xml version="1.0"?>

<model>
  <name>dst_parcel</name>
  <version>1.0</version>
  <sdf version="1.5">dst_parcel.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your email address</email>
  </author>

  <description>
    The destination parcel (similar to a Prince de Bretagne barquette 750g saveurs d'antan
  </description>
</model>